.item-card {
  border: 1px solid #a5a5a5;
  background-color: #727272;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  text-align: center;
}

.item-img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  margin-bottom: 8px;
}